{% extends 'index/base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex flex-column">
                <div class="">
                    <h2>{% if applicant.prefix %}{{ applicant.prefix }}{% endif %} {{ applicant.first_name}} {{ applicant.last_name }}{% if applicant.suffix %}, {{ applicant.suffix }}{% endif %}</h2>
                </div>
                    {% for a in applicant.address.all %}
                        <div class="d-flex">
                            <div class="mr-2">
                                <h6>{{ a.address_type }} Address:</h6>
                                <p>{{ a.address }}{% if a.suite_number %}, {{ a.suite_number }}{% endif %}
                                </p>
                                <p>{{ a.city }}, {{ a.state }} {{ a.zipcode }}</p>
                            </div>
                            <div class="mx-2">
                                <a href="{% url 'address_update' a.id %}?next={% url 'applicant_detail' object.id %}">Edit</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <a href="#">Add New Address</a>
                    </div>
                    
                    <div>
                        <h6>Telephone:</h6>
                        <div class="d-flex">
                            {% for t in applicant.telephone.all %}
                                <div class="mr-2">
                                    <p>{{ t.type }}: {{ t.number }}</p>
                                </div>
                                <div class="ml-2">
                                    <a href="#">Edit</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div>
                        <h6>Email:</h6>
                        <div class="d-flex">
                            {% for e in applicant.email.all %}
                                <div class="mr-2">
                                    <p>{{ e.email }}</p>
                                </div>
                                <div class="ml-2">
                                    <a href="#">Edit</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}