{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'applicant_list' %}">Applicants</a></li>
    <li class="breadcrumb-item"><a href="{% url 'applicant_detail' object.id %}">{{ applicant.last_name }}, {{ applicant.first_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update</li>
{% endblock %}


{% block body %}

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Update</button>
</form>

{% endblock body %}