{% extends 'index/base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb"> 
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'applicant_list' %}">Applicants</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ applicant.last_name }}, {{ applicant.first_name }}</li>
    </ol>
{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex flex-column">
                <div class="">
                    <h2>{% if applicant.prefix %}{{ applicant.prefix }}{% endif %} {{ applicant.first_name}} {{ applicant.last_name }}{% if applicant.suffix %}, {{ applicant.suffix }}{% endif %}</h2>
                </div>
                    {% for a in applicant.address.all %}
                        <div class="d-flex">
                            <div class="mr-2">
                                <h6>{{ a.address_type }} Address:</h6>
                                <p>{{ a.address }}{% if a.suite_number %}, {{ a.suite_number }}{% endif %}
                                </p>
                                <p>{{ a.city }}, {{ a.state }} {{ a.zipcode }}</p>
                            </div>
                            <div class="mx-2">
                                <a href="{% url 'address_update' a.id %}?next={{ request.path }}">Edit</a>
                                <a href="{% url 'address_delete' a.id %}?next={{ request.path }}">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <a href="{% url 'address_create' %}?next={{ request.path }}">Add New Address</a>
                    </div>
                    
                    <div>
                        <h6>Telephone:</h6>
                        <div class="d-flex">
                            {% for t in applicant.telephone.all %}
                                <div class="mr-2">
                                    <p>{{ t.type }}: {{ t }} {% if t.extension %}ext. {{ t.extension }}{% endif %}</p>
                                </div>
                                <div class="ml-2">
                                    <a href="{% url 'telephone_update' t.id %}?next={{ request.path }}">Edit</a>
                                    <a href="{% url 'telephone_delete' t.id %}?next={{ request.path }}">Delete</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            <a href="{% url 'telephone_create' %}?next={{ request.path }}">Add New Telephone</a>
                        </div>
                    </div>

                    <div>
                        <h6>Email:</h6>
                        <div class="d-flex">
                            {% for e in applicant.email.all %}
                                <div class="mr-2">
                                    <p>{{ e.email }}</p>
                                </div>
                                <div class="ml-2">
                                    <a href="{% url 'email_update' e.id %}?next={{ request.path }}">Edit</a>
                                    <a href="{% url 'email_delete' e.id %}?next={{ request.path }}">Delete</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            <a href="{% url 'email_create' %}?next={{ request.path }}">Add New Email</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}