{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'applicant_list' %}">Applicants</a></li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method='POST'>
                {% csrf_token %}
                <fieldset class="">
                    <legend class="border-bottom mb-4">Add new Applicant</legend>
                    <h6>Full Name</h6>
                    {{ form|crispy }}
                    <hr />
                    <h6>Address</h6>
                    {{ a_form|crispy }}
                    <hr />
                    <h6>Telephone/Fax</h6>
                    {{ t_form|crispy }}
                    <hr />
                    {{ e_form|crispy }}
                </fieldset>
                <button class="btn btn-outline-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}