{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <ol class="breadcrumb"> 
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Schedule new appointment</li>
    </ol>
{% endblock %}

{% block row %}
<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Schedule New Appointment</legend>
                {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Schedule</button>
            </fieldset>

        </form>
    </div>
</div>
{% endblock %}