{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block row %}
    <div class="row">
        <div class="col-6">
            <h1>{{ request }}</h1> 
            <h5>requested by {{ request.requester }}</h5>
            <p>Company name: {{ request.company_name }}</p>
            <p>Company address: {{ request.company_address }}</p>
            <p>Company telephone: {{ request.company_telephone }}</p>
            <p>Company website: {{ request.company_website }}</p>
        </div>
        <div class="col-6">
            <h1>Company Creation Form</h1>
            <form method="POST"">
                {% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                    <hr />
                    {{ a_form|crispy }}
                    <hr />
                    {{ t_form|crispy }}
                    <hr />
                    {{ e_form|crispy }}
                    <button class="btn btn-outline-info" type="submit">Process</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}