{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
</ol>
{% endblock %}

{% block body %}
<div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-primary" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
