{% extends 'index/base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
        <li class="breadcrumb-item active" aria-current="page">Password Reset</li>
    </ol>
{% endblock %}

{% block body %}

<p>Your password reset request has been received. Please check your email for a password reset link.</p>

<a href="{% url 'login' %}">Login</a>


{% endblock body %}