{% extends 'index/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
{% endblock %}

{% block body %}

{% if user.first_name and user.last_name %}
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
{% else %}
    {{ user.email }}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Date joined: {{ user.date_joined }}</p>
    <p>Last login: {{ user.last_login }}</p>
    <button class="btn btn-outline-primary" type="submit">Update Profile</button>
    <a class="btn btn-outline-danger btn-sm" href="{% url 'change_password' %}">Change Password</a>
</form>

<a href="{% url 'index-home' %}">Return home</a>
<a href="{% url 'logout' %}">Logout</a>
{% endblock %}