{% extends 'index/base.html' %}

{% block jumbotron %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            {% if user.first_name %}
                <h5>Hello, {{ user.first_name }}!</h5>
            {% else %}
                <h5>Welcome, {{ user.email }}!</h5>
            {% endif %}
        {% endif %}
    </div>
{% endblock jumbotron %}

{% block row %}
    <div class="row">

    <!-- AUTHENTICATED USER VIEW -->
    {% if user.is_authenticated %}
        <div class="col-8">
            <div>
                <h1 class="text-center border-bottom mb-4 pb-2">QME/AME</h1>
                <h2 class="border rounded text-center"><a href="{% url 'new_appointment' %}">Schedule new appointment</a></h2>
                <a class="" href="{% url 'doctor_list' %}">View Doctors</a>
                <a class="" href="{% url 'applicant_list' %}">View Applicants</a>
                <a href="{% url 'appointment_list' %}">View Appointments</a>
            </div>
            <div>
                <p>Important Deadlines:</p>
                <ul>
                    <li>[Applicant's name ]</li>
                    <li>[QME date] - [days left]</li>
                </ul>
            </div>
        </div>
        <div class="col-4">
                <div class="border border-info rounded p-2">
                        <h2 class="border-bottom">Law Firm Dashboard</h2>

                        {% if not user.company and not requester %}
                            <p>Want to register your firm? 
                                <a href="{% url 'request_company' %}">
                                    Click here
                                </a>
                            </p>
                        {% endif %}

                        {% if requester %}
                            {% if not requester.reviewed %}
                                <p>Company status: <span class="text-warning font-weight-bold">Request pending</span></p>
                                <a href="{% url 'request_detail' requester.id %}">View your request</a>
                            {% elif requester.reviewed and requester.accepted %}
                                <h5>{{ user.company }}</h5>
                            {% endif %}
                        {% endif %}
                </div>
        </div>

    </div>
    {% else %}
        <!-- UNAUTHENTICATED USER VIEW -->
        <div class="col">
            
        </div>
    {% endif %}
{% endblock row %}