{% extends 'index/base.html' %}


{% block jumbotron %}
    {% if user.is_authenticated %}
        {% if user.first_name %}
            <h5>Hello, {{ user.first_name }}!</h5>
        {% else %}
            <h5>Welcome, {{ user.email }}!</h5>
        {% endif %}
    {% endif %}
{% endblock jumbotron %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <a class="" href="#">Schedule a new appointment</a>
        </div>
        <div class="col">
            <a class="" href="{% url 'doctor_list' %}">View Doctors</a>
        </div>
        <div class="col">
            <a class="" href="{% url 'applicant_list' %}">View Applicants</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Important Deadlines:</p>
            <ul>
                <li>[Applicant's name ]</li>
                <li>[QME date] - [days left]</li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}