{% extends 'index/base.html' %}

{% block jumbotron %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            {% if user.first_name %}
                <h5>Hello, {{ user.first_name }}!</h5>
            {% else %}
                <h5>Welcome, {{ user.email }}!</h5>
            {% endif %}
        {% endif %}
    </div>
{% endblock jumbotron %}

{% block row %}
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-4 border border-info rounded">
                <h2 class="border-bottom">Law Firm Name Placeholder</h2>

                {% if not user.company and not requester %}
                    <p>Want to register your firm? 
                        <a href="{% url 'request_company' %}">
                            Click here
                        </a>
                    </p>
                {% endif %}

                {% if requester %}
                    <p>Company status: <span class="text-success font-weight-bold">Request pending</span></p>
                    <a href="{% url 'request_detail' requester.id %}">View your request</a>
                {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <h2><a class="" href="#">Schedule a new appointment</a></h2>
        </div>
        <div class="col">
            <a class="" href="{% url 'doctor_list' %}">View Doctors</a>
        </div>
        <div class="col">
            <a class="" href="{% url 'applicant_list' %}">View Applicants</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Important Deadlines:</p>
            <ul>
                <li>[Applicant's name ]</li>
                <li>[QME date] - [days left]</li>
            </ul>
        </div>
    </div>
{% endblock row %}