{% extends 'index/base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Doctors</li>
    </ol>
{% endblock %}


{% block row %}
    <div class="row">
        <div class="col-md-7">
            {% for doctor in doctors %}
                <a href="{% url 'doctor_detail' doctor.id %}">{{ doctor.last_name }}, {{ doctor.first_name}}</a>
            {% endfor %}
            <a href="{% url 'add_doctor' %}">Add a doctor</a>
        </div>
    </div>
{% endblock %}