{% extends 'index/base.html' %}

{% block body %}

<div>
    <a href="{% url 'doctor_update' object.id %}"><h5>{{ doctor.prefix }} {{ doctor.last_name}}, {{ doctor.first_name }} {{ doctor.suffix }}</h5></a>
    <div>
        <h5>Address</h5>
        </a>
        {% for a in doctor.address.all %}
            <p>{{ a.address_type }}:</p>
            <a href="{% url 'address_update' a.id %}?next={% url 'doctor_detail' object.id %}">Update Address</a>
            <p>{{ a.address }}</p>
            <p>{{ a.suite_number }}</p>
            <p>{{ a.city }}</p>
            <p>{{ a.state }}</p>
            <p>{{ a.zipcode }}</p>
        {% endfor %}
    </div>
    <div>
        <h5>Telephone</h5>
        {% for t in doctor.telephone.all %}
            <p>{{ t }}</p>
        {% endfor %}
    </div>
    <div>
        <h5>Email</h5>
        {% for e in doctor.email.all %}
            <p>{{ e }}</p>
        {% endfor %}
    </div>

</div>

{% endblock body %}