{% extends 'index/base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'doctor_list' %}">Doctors</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ doctor.last_name }}, {{ doctor.first_name }}</li>
    </ol>
{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <h2>{{ doctor.first_name}} {{ doctor.last_name }}{% if doctor.suffix %}, {{ doctor.suffix }}{% endif %}</h2>
                    <a class="ml-4 align-self-end" href="{% url 'doctor_update' object.id %}">Edit</a>
                </div>
                    {% for a in doctor.address.all %}
                        <div class="d-flex">
                            <div class="mr-2">
                                <h6>{{ a.address_type }} Address:</h6>
                                <p>{{ a.address }}{% if a.suite_number %}, {{ a.suite_number }}{% endif %}
                                </p>
                                <p>{{ a.city }}, {{ a.state }} {{ a.zipcode }}</p>
                            </div>
                            <div class="mx-2">
                                <a href="{% url 'address_update' a.id %}?next={{ request.path }}">Edit</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <a href="#">Add New Address</a>
                    </div>
                    
                    <div>
                        <h6>Telephone:</h6>
                        <div class="d-flex">
                            {% for t in doctor.telephone.all %}
                                <div class="mr-2">
                                    <p>{{ t.type }}: {{ t.number }}</p>
                                </div>
                                <div class="ml-2">
                                    <a href="{% url 'telephone_update' t.id %}?next={{ request.path }}">Edit</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div>
                        <h6>Email:</h6>
                        <div class="d-flex">
                            {% for e in doctor.email.all %}
                                <div class="mr-2">
                                    <p>{{ e.email }}</p>
                                </div>
                                <div class="ml-2">
                                    <a href="{% url 'email_update' e.id %}?next={{ request.path }}">Edit</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}