{% extends 'index/base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index-home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'doctor_list' %}">Doctors</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ doctor.last_name }}, {{ doctor.first_name }}</li>
    </ol>
{% endblock %}


{% block row %}
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <h2>{{ doctor.first_name}} {{ doctor.last_name }}{% if doctor.suffix %}, {{ doctor.suffix }}{% endif %}</h2>
                    <a class="ml-4 align-self-end" href="{% url 'doctor_update' object.id %}">Edit</a>
                </div>
                <div class="border border-primary rounded p-2 mb-4">
                    {% for a in doctor.address.all %}
                        <div class="d-flex border-bottom">
                            <div class="mr-2">
                                <h6>{{ a.address_type }} Address</h6>
                                <p>{{ a.address1.upper }}{% if a.address2 %}, {{ a.unit_type }} {{ a.address2.upper }}{% endif %}
                                </p>
                                <p>{{ a.city.upper }}, {{ a.state.upper }} {{ a.zipcode }}</p>
                            </div>
                            <div class="mx-2">
                                <a href="{% url 'address_update' a.id %}?next={{ request.path }}">Edit</a>
                                <a href="{% url 'address_delete' a.id %}?next={{ request.path }}">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <a href="{% url 'address_create' %}?next={{ request.path }}">Add New Address</a>
                    </div>
                </div>

                <div class="border border-warning rounded p-2 mb-4">
                    <h6>Telephone:</h6>
                    {% for t in doctor.telephone.all %}
                        <div class="d-flex">
                            <div class="mr-2">
                                <p>{{ t.type }}: {{ t }} {% if t.extension %}ext. {{ t.extension }}{% endif %}</p>
                            </div>
                            <div class="ml-2">
                                <a href="{% url 'telephone_update' t.id %}?next={{ request.path }}">Edit</a>
                                <a href="{% url 'telephone_delete' t.id %}?next={{ request.path }}">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <a href="{% url 'telephone_create' %}?next={{ request.path }}">Add New Telephone</a>
                    </div>
                </div>

                <div class="border border-success rounded p-2">
                    <h6>Email:</h6>
                    {% for e in doctor.email.all %}
                        <div class="d-flex">
                        
                            <div class="mr-2">
                                <p>{{ e.email }}</p>
                            </div>
                            <div class="ml-2">
                                <a href="{% url 'email_update' e.id %}?next={{ request.path }}">Edit</a>
                                <a href="{% url 'email_delete' e.id %}?next={{ request.path }}">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <a href="{% url 'email_create' %}?next={{ request.path }}">Add New Email</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border border-dark rounded p-4 m-2">
                <div>
                    <h4 class="border-bottom mb-4 pb-3">Deliver medical index by:</h4>
                    {% if doctor.by_hardcopy %}
                        <p>✓ Hardcopy</p>
                    {% endif %}
                    {% if doctor.by_cd %}
                        <p>✓ CD</p>
                    {% endif %}
                    {% if doctor.by_usb %}
                        <p>✓ USB</p>
                    {% endif %}
                    {% if doctor.by_email %}
                        <p>✓ Email</p>
                    {% endif %}
                </div>
                <div>
                    <a class="btn btn-outline-info btn-sm" href="{% url 'doctor_preference' object.id %}?next={{ request.path }}">Update Preferences</a>
                </div>
            </div>
            <div class="border rounded border-dark m-2 p-4">
                <h4>Notes</h4>
                {% if not doctor.notes %}
                    <p>Add notes about this contact!</p>
                {% else %}
                    <p>{{ doctor.notes }}</p>
                {% endif %}
                <a class="btn btn-outline-dark btn-sm" href="{% url 'doctor_notes' object.id %}">Edit</a>
            </div>
        </div>
    </div>
{% endblock row %}